@import url("https://fonts.googleapis.com/css?family=Raleway:400,500,800");

body {
  align-items: center;
  display: flex;
  font-family: Raleway, Arial, sans-serif;
  height: 100vh;
  justify-content: center;
}

.card {
  border-radius: 10px;
  box-shadow: 0 5px 20px rgb(0 0 0 / 50%);
  height: 260px;
  padding: 20px 40px;
  position: relative;
  transition: 0.3s;
  width: 300px;
}

.imgbox {
  height: 100%;
  position: relative;
  transform: translateY(-60px);
  width: 100%;
  z-index: 1;
}

img {
  border-radius: 10px;
  width: 100%;
}

.card:hover {
  height: 420px;
}

.content {
  color: #111;
  opacity: 0;
  padding: 10px 20px;
  text-align: center;
  transform: translateY(-500px);
  transition: 0.5s;
}

.card:hover .content {
  opacity: 1;
  transform: translateY(-200px);
}