/* <a href="https://www.freepik.com/free-vector/city-at-night-and-day-illustration_829621.htm">Designed by Freepik</a> */

/* https://www.freepik.com/free-vector/city-at-night-and-day-illustration_829621.htm */

body {
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.background {
	height: 100vh;
	
	background: url("bg.jpg");
	background-position: bottom left;
	background-size: cover;

	animation: driving 10s linear infinite;
}

.car {
	position: absolute;
	z-index: 1;
	bottom: 4px;
	left: 300px;

	width: 425px;

	animation: driving-car 10s both alternate infinite ease-out;
}

.car-2 {
	position: absolute;
	bottom: -17px;
	left: 700px;

	width: 425px;

	animation: driving-car-2 10s both alternate infinite ease-out;
}

.motorbike {
	position: absolute;
	bottom: 45px;
	left: 1200px;

	width: 135px;

	animation: driving-motorbike 10s both alternate infinite ease-out;
}

@keyframes driving-motorbike {
	0% {
		left: 2500px;
		transform: rotate(-5deg);
	}

	100% {
		left: 820px;
		transform: rotate(-20deg);
	}
}

@keyframes driving {
	from {
		background-position: bottom left;
	}

	to {
		background-position: bottom right;
	}
}

@keyframes driving-car {
	0% {
		left: 100px;
	}

	100% {
		left: 450px;
	}
}

@keyframes driving-car-2 {
	0% {
		left: 1550px;
	}

	100% {
		left: 420px;
	}
}