/* body {
	align-items: center;
	display: flex;
	font-family: sans-serif;
	height: 100vh;
	justify-content: center;
}

ul {
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul li a {
	color: #262626;
	display: block;
	height: 40px;
	line-height: 40px;
	position: relative;
	text-align: center;
	text-decoration: none;
	text-transform: capitalize;
	transition: all 0.5s;
	width: 120px;
}

ul li a:hover {
	color: white;
	transition-delay: 0.2s;
}

ul li span {
	background-color: #262626;
	height: 0;
	left: 0;
	position: absolute;
	top: 0;
	transition: all 0.5s;
	width: 25%;
	z-index: -1;
}

ul li span:nth-child(2) {
	left: 25%;
	transition-delay: 0.15s;
}

ul li span:nth-child(3) {
	left: 50%;
	transition-delay: 0.3s;
}

ul li span:nth-child(4) {
	left: 75%;
	transition-delay: 0.45s;
}

ul li a:hover span {
	height: 100%;
}

ul li a:hover span:nth-child(2) {
	transition-delay: 0.15s;
}

ul li a:hover span:nth-child(3) {
	transition-delay: 0.3s;
}

ul li a:hover span:nth-child(4) {
	transition-delay: 0.45s;
} */

body {
	align-items: center;
	display: flex;
	font-family: sans-serif;
	height: 100vh;
	justify-content: center;
}

ul {
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul li a {
	color: #262626;
	display: block;
	height: 40px;
	line-height: 40px;
	position: relative;
	text-align: center;
	text-decoration: none;
	text-transform: capitalize;
	transition: all 0.5s;
	width: 120px;
}

ul li a:hover {
	color: white;
	transition-delay: 0.2s;
}

ul li span {
	background-color: #262626;
	height: 25%;
	left: 0;
	position: absolute;
	top: 0;
	transform: scaleY(0);

	/* transform: scaleX(0); */

	/* transform-origin: left; */

	transition: all 0.5s;
	width: 100%;
	z-index: -1;
}

ul li span:nth-child(2) {
	top: 25%;
	transition-delay: 0.15s;
}

ul li span:nth-child(3) {
	top: 50%;
	transition-delay: 0.3s;
}

ul li span:nth-child(4) {
	top: 75%;
	transition-delay: 0.45s;
}

ul li a:hover span {
	transform: scaleY(1);

	/* transform: scaleX(1); */
}

ul li a:hover span:nth-child(2) {
	transition-delay: 0.15s;
}

ul li a:hover span:nth-child(3) {
	transition-delay: 0.3s;
}

ul li a:hover span:nth-child(4) {
	transition-delay: 0.45s;
}