@import url("https://fonts.googleapis.com/css?family=Raleway:400,500,800");

body {
  align-items: center;
  display: flex;
  font-family: Raleway, Arial, sans-serif;
  height: 100vh;
  justify-content: center;
  margin: 0;
}

.card {
  background-color: white;
  box-shadow: 0 10px 30px rgb(0 0 0 / 10%);
  overflow: hidden;
  padding: 40px;
  position: relative;
  width: 320px;
}

.card::before {
  background-color: #ff56ac;
  bottom: calc(-100% + 5px);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  transition: 0.5s;
  width: 100%;
  z-index: 1;
}

.card:hover::before {
  bottom: 0;
}

.content {
  color: #777;
  position: relative;
  text-transform: capitalize;
  transition: 0.5s;
  z-index: 2;
}

h2 {
  font-size: 30px;
  margin-bottom: 10px;
  margin-top: 0;
}

p {
  font-size: 18px;
}

a {
  background-color: white;
  box-shadow: 0 2px 20px rgb(0 0 0 / 5%);
  color: #777;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  margin-top: 10px;
  padding: 6px 10px;
  text-decoration: none;
}

.card:hover .content {
  color: white;
}