body {
  margin: 0;
}

div {
  animation: moving 3s ease-in alternate both infinite;

  /* animation-direction: alternate-reverse; */

  /* animation-delay: 3s; */

  /* animation-duration: 3s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-name: moving;
  animation-timing-function: ease-in-out; */
  background-color: red;
  height: 150px;
  width: 150px;
}

@keyframes moving {
  0% {
    transform: translateX(500px);
  }

  50% {
    transform: translateX(1000px);
  }

  100% {
    transform: translate(1000px, 500px);
  }
}