@import url("https://fonts.googleapis.com/css?family=Raleway:400,500,800");

* {
  box-sizing: border-box;
}

body {
  align-items: center;
  background-color: #74b9ff;
  display: flex;
  font-family: Raleway, Arial, sans-serif;
  height: 100vh;
  justify-content: center;
  margin: 0;
}

.card {
  background: white;
  height: 400px;
  position: relative;
  transition: 0.5s;
  width: 300px;
}

.card:hover {
  box-shadow: 0 30px 50px rgb(0 0 0 / 20%);
}

.face {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  left: 50%;
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  width: 100%;
}

.face1 {
  background-color: white;
  color: #013d4a;
  padding: 20px;
  text-align: center;
}

.face1 h2 {
  margin-top: 80px;
}

.face1 a{
  border: 2px solid #013d4a;
  color: #013d4a;
  display: inline-block;
  font-weight: bold;
  margin-top: 20px;
  padding: 5px 10px;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.3s;
}

.face2 {
  background-color: #013d4a;
  transition: 0.5s;
}

.face2 h2 {
  color: white;
  font-size: 120px;
  transition: 0.5s;
}

.card:hover .face2 {
  background-color: transparent;
  border: 2px solid #013d4a;
  border-radius: 50%;
  height: 80px;
  left: 50%;
  top: 40px;
  transform: translateX(-50%);
  width: 80px;
}

.card:hover .face2 h2 {
  color: #013d4a;
  font-size: 32px;
}

a:hover {
  background-color: #013d4a;
  color: white;
}